<html>
<head>
  <title></title>
  <style>
      body {
        background: <%= data[:background] %>;
      }
  </style>
</head>
  <body> 
    <form>
      <input type='text'    name='guess' />
      <input type='submit'  value='Guess!' />
    </form>
    <p>
      <%= "You have guessed #{data[:count]} times.\n" %>
    </p>
    <p>  
      <%= data[:message] %>
    </p>
    <p>  
      <%= cheat %>
    </p>
  </body>
</html>
